<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Bank Register</strong>
            <small style="color:red"> New</small>
            <div class="pull-right">
                <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
            </div>
          </div>
          <div class="card-body">
              <div class="card-header" style="background-color:skyblue">
                  <p>Complete and submit the form to create a new Bank Register for PMT and PML</p>
                </div>
            <!-- form content -->
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="row">
            <div class="col-sm-6">
              <div class="card">
                
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="subsidiary">Subsidiary</label>
                        <div class="col-md-7">
                          <select id="subsidiary" formControlName="subsidiary" name="subsidiary" class="form-control">
                            <option value="" active> Please Select Subsidiary</option>
                            <option value="PMT">PMT</option>
                            <option value="PML">PML</option>
                            <option value="PET">PET</option>
                            <option value="SHOP">SHOP</option>
                            <option value="PRESS">PRESS</option>
                            <option value="ASSEMBLY">ASSEMBLY</option>
                            <option value="CHEMICAL">CHEMICAL</option>
                            <option value="PEACEGROUP">PEACEGROUP</option>
                            <option value="UNKNOWN">UNKNOWN</option>
                          </select>
                        </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-5 col-form-label" for="depositor_id">Depositor ID</label>
                      <div class="col-md-7">
                        <input type="text" id="depositor_id" formControlName="depositor_id" name="depositor_id" class="form-control" placeholder="depositor_id">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="deposited_date">Date Deposited</label>
                        <div class="col-md-7">
                          <input type="date" id="deposited_date" formControlName="deposited_date" name="deposited_date" class="form-control" placeholder="Date Deposited">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="teller">Teller</label>
                        <div class="col-md-7">
                          <input type="text" id="teller" formControlName="teller" name="teller" class="form-control" placeholder="Teller">
                        </div>
                    </div>   
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="record_status">Status</label>
                        <div class="col-md-7">
                          <select id="record_status" formControlName="record_status" name="record_status" class="form-control">
                            <option value="" active>Please Select Status</option>
                            <option value="PENDING">Pending</option>
                            <option value="REJECTED">Rejected</option>
                            <option value="ACKNOWLEDGED">Acknowledged</option>
                            <option value="APPROVED">Approved</option>
                            <option value="AUTHORIZED">Authorized</option>
                            <option value="AUDITED">Audited</option>
                            <option value="CLOSED">Closed</option>
                          </select>
                        </div>
                  </div> 
                  <div class="form-group row">
                      <label class="col-md-5 col-form-label" for="amount_deposited">Amount Deposited</label>
                      <div class="col-md-7">
                        <input type="number" id="amount_deposited" formControlName="amount_deposited" name="amount_deposited" class="form-control" placeholder="Amount Deposited">
                      </div>
                  </div>  
                       
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="amount_realized">Amount Realized</label>
                        <div class="col-md-7">
                          <input type="number" id="amount_realized" formControlName="amount_realized" name="amount_realized" class="form-control" placeholder="Amount Realized">
                        </div>
                    </div>  
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="terminal_id">Terminal ID</label>
                        <div class="col-md-7">
                          <input type="text" id="terminal_id" formControlName="terminal_id" name="terminal_id" class="form-control" placeholder="Enter Terminal ID">
                        </div>
                    </div>  
                      <div class="form-group row">
                          <label class="col-md-5 col-form-label" for="transaction_date">Transaction Date</label>
                          <div class="col-md-7">
                            <input type="date" id="transaction_date" formControlName="transaction_date" name="transaction_date" class="form-control">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label" for="acknowledged_date">Acknowledged On</label>
                            <div class="col-md-7">
                              <input type="date" id="acknowledged_date" formControlName="acknowledged_date" name="acknowledged_date" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-5 col-form-label" for="authorized_date">Authorized On</label>
                              <div class="col-md-7">
                                <input type="date" id="authorized_date" formControlName="authorized_date" name="authorized_date" class="form-control">
                              </div>
                            </div>
                                               
                    <div class="form-group form-actions pull-right">
                      <button type="submit" class="btn btn-md btn-primary">Submit</button>
                    </div>
                </div>
              </div>
            </div>
          </div><!--/.row-->
        </form>
            <!--/. form content -->
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>