<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-info">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-people"></i>
            </div>
            <div class="h4 mb-0">87.500</div>
            <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-success">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-user-follow"></i>
            </div>
            <div class="h4 mb-0">385</div>
            <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-basket-loaded"></i>
            </div>
            <div class="h4 mb-0">1238</div>
            <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-pie-chart"></i>
            </div>
            <div class="h4 mb-0">28%</div>
            <small class="text-muted text-uppercase font-weight-bold">Returning</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-danger">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-speedometer"></i>
            </div>
            <div class="h4 mb-0">5:34:11</div>
            <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-info">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-speech"></i>
            </div>
            <div class="h4 mb-0">972</div>
            <small class="text-muted text-uppercase font-weight-bold">Comments</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2>{{ name || ' Terminal Detail' }}</h2>
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" style="width:100px" (click)="terminalEdit(terminal)"> Edit</button>
                <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
            </div>
          </div>
          <div class="card-body">
            
            <br>
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr><th>Field</th><th>Value</th></tr>
              </thead>
              <tbody>
                <tr><th>Id</th><td>{{ id || '' }}</td></tr>
                <tr><th>Name</th><td>{{ name || '' }}</td></tr>
                <tr><th>Manager</th><td>{{ manager || '' }}</td></tr>
                <tr><th>Phone</th><td>{{ phone || '' }}</td></tr>
                <tr><th>Quarter</th><td>{{ quarter || '' }}</td></tr>
                <tr><th>City</th><td>{{ city || '' }}</td></tr>
                <tr><th>County</th><td>{{ county || '' }}</td></tr>
                <tr><th>Address</th><td>{{ address || '' }}</td></tr>
                <tr><th>Longitude</th><td>{{ longitude || '' }}</td></tr>
                <tr><th>Latitude</th><td>{{ latitude || '' }}</td></tr>
                <tr><th>Capacity</th><td>{{ capacity || '' }}</td></tr>
                <tr><th>PML Operational</th><td>{{ is_pml_operational || '' }}</td></tr>
                <tr><th>PMT Operational</th><td>{{ is_pmt_operational || '' }}</td></tr>
                <tr><th>PMT Online</th><td>{{ is_pmt_online || '' }}</td></tr>
                <tr><th>Photo</th><td>{{ photo || '' }}</td></tr>
                <tr><th>Flw-Subaccount</th><td>{{ flw_subaccount || '' }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  